<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/e-commerceweb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">jahid1155</property>

        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

       <!-- Specify the mapping file -->
        <mapping class="com.mycompany.e.commercesite.entites.User"/>
        <mapping class="com.mycompany.e.commercesite.entites.Category"/>
        <mapping class="com.mycompany.e.commercesite.entites.Product"/>    
    </session-factory>
</hibernate-configuration>
